*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.background{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: none;
  position:fixed;
  object-fit: cover;
  z-index: -1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3000ms ease-in-out;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 120px;
  color: white;
}
.nav-logo{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
}
.nav-item{
  color: white;
}
.nav-contact{
  border-radius: 50px;
  padding:10px 38px;
  background: #fff;
  color: #262626;
}
.hero{
  margin: 0px 120px;
  margin-top: 270px;
}
.hero-text{
  color: #fff;
  font-size: 110px;
  font-weight: 600;
  line-height: 130px;
}
.hero-explore{
  display: flex ;
  align-items: center;
  gap: 50px;
  width: fit-content;
  margin-top: 70px;
  padding: 5px 30px;
  padding-left: 30px;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
}
.hero-explore p{
  color: #292929;
  font-size: 20px;
  font-weight: 600;
}
.hero-dot-play{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.hero-dots{
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.hero-dot{
  width:15px;
  height: 15px;
  background: #fff;
  border-radius: 9px;
  cursor: pointer;
}
.hero-dot.orange{
  background: orangered;
}
.hero-play{
  display: flex;
  align-items: center;
  gap:30px;
}
.hero-play p{
  color: #fff;
  font-size: 19px;
}